
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: nowrap;
}
.sidebar {
  height: 100vh;
  background-color: #343a40;
  padding: 20px;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  z-index: 1000;
}
.sidebar.hidden {
  transform: translateX(-100%);
}
.sidebar a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
}
.sidebar a:hover {
  background-color: #495057;
}
.content {
  margin-left: 250px;
  padding: 20px;
  width: calc(100% - 250px);
  transition: margin-left 0.3s ease, width 0.3s ease;
}
.content.full-width {
  margin-left: 0;
  /* width: 100%; */
}
.toggle-sidebar {
  width: 10%;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1100; /* Ensure it appears above sidebar */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.toggle-sidebar:hover {
  background-color: #0056b3;
}
/* @media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
  .content {
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .toggle-sidebar {
    display: block;
  }
  .sidebar {
    display: none;
  }
  .content.full-width {
    margin-left: 0;
    width: 100%;
  }
} */